# Advanced Python Programming - First Assignment

**Topics Covered:** Data Types, Data Structures, Loops, Conditionals, Functions  

**Instructions:**  
- Answer all questions  
- Write clean code  
- Do not use external libraries 

**Submission Guidelines:**
- Save as: `FirstName_LastName_Assignment1.ipynb`
- Test all code before submission
- Include output for each question
- Add comments explaining your logic
- Deadline: 12-19-2025

## Question 1: Data Types and Input Handling
Take student name, roll number, age, and marks as input.  
Display each value with its data type.  
Convert age to float and marks to int before displaying.

In [2]:
name = input("Enter student name: ")
roll = input("Enter roll number: ")
age = input("Enter age: ")
marks = input("Enter marks: ")

# Converting data types
age_float = float(age)
marks_int = int(marks)

# Displaying values and their data types
print("Name:", name, type(name))
print("Roll:", roll, type(roll))
print("Age:", age_float, type(age_float))
print("Marks:", marks_int, type(marks_int))

Name: ISHAN POUDEL <class 'str'>
Roll: HCE080BCT020 <class 'str'>
Age: 20.0 <class 'float'>
Marks: 85 <class 'int'>

## Question 2: Conditional Logic
Accept marks (0–100) and display:
- Excellent (≥80)
- Good (≥60)
- Pass (≥40)
- Fail (<40)

In [1]:
marks = int(input("Enter marks (0-100): "))

if marks >= 80:
    print("Excellent")
elif marks >= 60:
    print("Good")
elif marks >= 40:
    print("Pass")
else:
    print("Fail")

Good

## Question 3: Looping with Conditions
Print numbers between 1 and 100 that are divisible by 4 but not divisible by 8.

In [ ]:
# Numbers divisible by 4 but not by 8
print(i for i in range(1,101) if i%4==0 and i%8!=0)

<generator object <genexpr> at 0x000002072AD457D0>

## Question 4: List Operations
Given:
```python
marks = [55, 72, 48, 90, 67, 72, 90]
```
Find max, min, count of 72, and marks ≥ 60.

In [ ]:
marks = [55, 72, 48, 90, 67, 72, 90]

print("Max:", max(marks))
print("Min:", min(marks))
print("Count of 72:", marks.count(72))

# Marks >= 60
passed = [m for m in marks if m >= 60]
print("Marks >= 60:", passed)

Max: 90
Min: 48
Count of 72: 2
Marks >= 60: [72, 90, 67, 72, 90]

## Question 5: Tuple and Immutability
Create a tuple of 5 subjects and attempt modification.  
Explain result using comments.

In [4]:
subjects = ("Math", "Physics", "Chemistry", "Biology", "Computer")

# Attempting modification
# subjects[0] = "English"  # This will raise TypeError

# Tuples are immutable, meaning their values cannot be changed after creation
print(subjects)

('Math', 'Physics', 'Chemistry', 'Biology', 'Computer')

## Question 6: List Sanitization and Metrics
Given:
```python
marks = [45, -3, 88, "NA", 102, None, 67]
```

Write a function that:
1. Removes invalid entries  
2. Returns:
   - Cleaned list  
   - Number of invalid entries  
   - Percentage of valid marks  

Return values using a tuple.

In [ ]:
def clean_marks(marks):
    valid = []
    invalid_count = 0

    for m in marks:
        if isinstance(m, int) and 0 <= m <= 100:
            valid.append(m)
        else:
            invalid_count += 1

    percentage_valid = (len(valid) / len(marks)) * 100
    return valid, invalid_count, percentage_valid


marks = [45, -3, 88, "NA", 102, None, 67]
result = clean_marks(marks)
print(result)

([45, 88, 67], 4, 42.857142857142854)

## Question 7: Dictionary Usage
Create a dictionary of roll number and name.  
Implement add, update, and display operations using functions.

In [6]:
students = {}

def add_student(roll, name):
    students[roll] = name

def update_student(roll, name):
    students[roll] = name

def display_students():
    print(students)

add_student(1, "Ravi")
add_student(2, "Harish")
update_student(1, "Ravi Sharma")
display_students()

{1: 'Ravi Sharma', 2: 'Harish'}

## Question 8: Prime Number Function
Write `is_prime(n)` and display prime numbers between 1 and 50.

In [ ]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

for i in range(1, 51):
    if is_prime(i):
        print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

## Question 9: Function Composition
Write functions to:
1. Calculate total marks  
2. Calculate average  
3. Classify result (Distinction / Pass / Fail)

Then write a function that combines them and returns:
```
(name, total, average, result)
```

Explain why modular design is beneficial.

In [8]:
def total_marks(marks):
    return sum(marks)

def average_marks(total, count):
    return total / count

def classify(avg):
    if avg >= 75:
        return "Distinction"
    elif avg >= 40:
        return "Pass"
    else:
        return "Fail"

def student_result(name, marks):
    total = total_marks(marks)
    avg = average_marks(total, len(marks))
    result = classify(avg)
    return (name, total, avg, result)

print(student_result("Ishan", [72, 70, 86]))

# Modular design makes code reusable, readable, and easier to debug

('Ishan', 228, 76.0, 'Distinction')

## Question 10: Defensive Input Parsing
Write a function that accepts a raw input string in the format:

```
"Ram|101|22|78, 88, 91"
```
Hint: Parse student data from string format: "Name|Roll|Age|Mark1, Mark2, Mark3"

Tasks:
1. Extract name, roll number, age, and marks  
2. Convert them into appropriate data types  
3. Validate age (≥16) and marks (0–100)  
4. Return the result as a dictionary using roll number as the key  

The function must not crash for malformed input.

In [ ]:
def parse_student(data):
    try:
        name, roll, age, marks = data.split("|")
        roll = int(roll)
        age = int(age)

        if age < 16:
            return {}

        marks_list = []
        for m in marks.split(","):
            m = int(m.strip())
            if 0 <= m <= 100:
                marks_list.append(m)

        return {roll: {"name": name, "age": age, "marks": marks_list}}

    except:
        return {}

print(parse_student("Ram|101|22|78, 88, 91"))

{101: {'name': 'Ram', 'age': 22, 'marks': [78, 88, 91]}}

## Question 11: Type Stability and Conversion
Given the list:
```python
data = [10, "20", 30.5, "abc", None, True]
```

Write a function that:
1. Separates numeric and non-numeric values  
2. Converts numeric values to float  
3. Returns both lists  

Explain in comments why `True` behaves as a numeric value.

In [ ]:
def separate_data(data):
    numeric = []
    non_numeric = []

    for item in data:
        if isinstance(item, (int, float)) and not isinstance(item, bool):
            numeric.append(float(item))
        elif isinstance(item, bool):
            numeric.append(float(item))  # True behaves as 1
        else:
            non_numeric.append(item)

    return numeric, non_numeric

data = [10, "20", 30.5, "abc", None, True]
print(separate_data(data))

# True is treated as 1 because bool is a subclass of int in Python

([10.0, 30.5, 1.0], ['20', 'abc', None])

## Question 12: Pattern-Based Looping
Generate the sequence:
```
2, 6, 12, 20, 30, 42, 56
```

Rules:
- Do not hardcode the list  
- Use loops and conditionals only  
- Explain the pattern in comments

In [ ]:
# Pattern: n(n+1)
sequence = []

for n in range(1, 8):
    sequence.append(n * (n + 1))

print(sequence)

[2, 6, 12, 20, 30, 42, 56]

## Question 13: Set-Based Enrollment Analysis
Given:
```python
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}
```

Find:
1. Students enrolled in exactly two subjects  
2. Students enrolled in only one subject  
3. Students enrolled in all subjects

In [ ]:
python = {"Amit", "Sita", "Hari", "Nita"}
sql = {"Hari", "Ram", "Nita"}
statistics = {"Amit", "Hari", "Gita"}

all_sets = python | sql | statistics

exactly_two = set()
only_one = set()

for s in all_sets:
    count = (s in python) + (s in sql) + (s in statistics)
    if count == 2:
        exactly_two.add(s)
    elif count == 1:
        only_one.add(s)

all_three = python & sql & statistics

print("Exactly two:", exactly_two)
print("Only one:", only_one)
print("All subjects:", all_three)

Exactly two: {'Nita', 'Amit'}
Only one: {'Gita', 'Sita', 'Ram'}
All subjects: {'Hari'}

## Question 14: Dictionary Aggregation Logic
Given:
```python
records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}
```

Write a function that:
1. Computes average per student  
2. Identifies top and bottom performers  
3. Returns results using a single dictionary

In [ ]:
def analyze_records(records):
    averages = {}
    for name, marks in records.items():
        averages[name] = sum(marks) / len(marks)

    top = max(averages, key=averages.get)
    bottom = min(averages, key=averages.get)

    return {
        "averages": averages,
        "topper": top,
        "lowest": bottom
    }

records = {
    "Amit": [78, 82, 91],
    "Sita": [88, 79, 85],
    "Hari": [45, 52, 60]
}

print(analyze_records(records))

{'averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336}, 'topper': 'Sita', 'lowest': 'Hari'}

## Question 15: Nested Data Structure Analysis
Given a nested dictionary representing a school's grade book:
```python
school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}
```

Write a function that:
1. Calculates the average marks for each student
2. Finds the top performer in each class
3. Calculates the overall school average
4. Returns a dictionary with:
   - `class_toppers`: {class_name: (student_name, average)}
   - `school_average`: float
   - `student_averages`: {student_name: average}

Explain in comments why nested dictionaries are useful for hierarchical data.

In [ ]:
def school_analysis(data):
    student_averages = {}
    class_toppers = {}
    total_sum = 0
    total_count = 0

    for cls, students in data.items():
        best_student = None
        best_avg = 0

        for name, marks in students.items():
            avg = sum(marks) / len(marks)
            student_averages[name] = avg
            total_sum += sum(marks)
            total_count += len(marks)

            if avg > best_avg:
                best_avg = avg
                best_student = name

        class_toppers[cls] = (best_student, best_avg)

    school_avg = total_sum / total_count

    return {
        "class_toppers": class_toppers,
        "school_average": school_avg,
        "student_averages": student_averages
    }

school_data = {
    "Class A": {
        "Amit": [78, 82, 91],
        "Sita": [88, 79, 85]
    },
    "Class B": {
        "Hari": [45, 52, 60],
        "Ram": [92, 88, 95]
    }
}

print(school_analysis(school_data))

# Nested dictionaries are useful for hierarchical data like classes → students → marks

{'class_toppers': {'Class A': ('Sita', 84.0), 'Class B': ('Ram', 91.66666666666667)}, 'school_average': 77.91666666666667, 'student_averages': {'Amit': 83.66666666666667, 'Sita': 84.0, 'Hari': 52.333333333333336, 'Ram': 91.66666666666667}}